<template>
    <v-row>
        <v-col class="p-0 countdown mx-auto" cols="12" md="12">
            <v-row>
                <v-col class="p-0 text-center">
                    <span>{{fech.day}}</span>
                    <div>días</div>
                </v-col>
                <v-col class="p-0 text-center">
                    <span>{{fech.hour}}</span>
                    <div>horas</div>
                </v-col>
                <v-col class="p-0 text-center">
                    <span>{{fech.minute}}</span>
                    <div>mins</div>
                </v-col>
            </v-row>
        </v-col>
    </v-row>
</template>

<script>
export default {
    name:'Countdown',
    data(){
        return{
            fech:{
                day:'00',
                hour:'00',
                minute:'00',
                seconds:'00'
            },
            fechlaunching:{
                day:23,
                monthNumber:3,
                year:2020,
                month:"",
                hour:8,
                AMPM:"Am"                    
            }
        }
    },
    mounted() {
       this.Countdown()
    },
    methods:{
        Countdown(){
            let hour=0, minute=0, seconds=0;
            let time = setInterval(() => {
                let actual = new Date();
                let dayA = actual.getDate();
                let monthA = actual.getMonth() + 1;
                let yearA = actual.getFullYear();
                //dayRMC siginfica Dias que restan en el mes de la celebracion
                let sumarDay = 0, dayrestante = 0, dayRMC = 0;
                
                if(this.fechlaunching.year == yearA){
                    if(this.fechlaunching.monthNumber==monthA){
                        if((this.fechlaunching.day - dayA) < 10 ){
                            this.fech.day = '0' + (this.fechlaunching.day - dayA);
                        }else{
                            this.fech.day = '' + (this.fechlaunching.day - dayA);
                        }
                    }else{
                        
                        let n = (this.fechlaunching.monthNumber - monthA) + 1;
                        let suma = 0;
                        dayRMC = this.dayOfMonth(this.fechlaunching.monthNumber, yearA) - this.fechlaunching.day;
                        for(let i = 0; i < n; i++){
                            //determinar el numero de dias que hacen falta para terminar el mes.
                            dayrestante = this.dayOfMonth((monthA+i), yearA);
                            suma = dayrestante + suma;
                        }
                        this.fech.day = '' + (suma - dayA - dayRMC);
                        
                    }
                }

                let f =  new Date();
                if((24 - f.getHours()) < 10){
                    this.fech.hour = '0' + (24 - f.getHours());
                }else{
                    this.fech.hour = ''+24 - f.getHours();
                }
                if((60 - f.getMinutes()) < 10){
                    this.fech.minute = '0'+ (60 - f.getMinutes());
                }else{
                    this.fech.minute = ''+60 - f.getMinutes();
                }
                if((60 - f.getSeconds()) < 10){
                    this.fech.seconds = '0'+(60 - f.getSeconds());   
                }else{
                    this.fech.seconds = 60 - f.getSeconds();
                }
                
            },1000)
        },
        dayOfMonth(month, year){
            return new Date(year, month, 0).getDate();
        },

    }
}
</script>
<style scoped>
    .countdown .row{
        width: 16.69vw;
        margin-left: auto;
        margin-right: auto;
    }
    .countdown div{
        font-family: Cooper BT;
        font-style: normal;
        font-weight: bold;
        font-size: 1.1vw;
        line-height: 1.33vw;
        text-align: center;
        color: #2C2C2C;
    }
    .countdown span{
        font-family: Cooper BT;
        font-style: normal;
        font-weight: bold;
        font-size: 3vw;
        line-height: 3.36vw;
        text-align: center;
        color: #2C2C2C;
    }
    @media screen and (max-width: 1904px) {
       
    }
    @media screen and (max-width: 1264px) {
        .countdown .row{
            width: 18.69vw;
        }
    }
     @media screen and (max-width: 950px) {
        .countdown .row{
            width: 23vw;
        }
        .titleHoussit{
            width: 15vw;
        }
    }
    @media screen and (max-width: 660px) {
        .countdown .row{
            width: 37.9vw;
        }
        .countdown div{
            font-size: 13px;
            line-height: 13px;
        }
        .countdown span{
            font-size: 28px;
            line-height: 27px;
        }
    }
     @media screen and (max-width: 460px) {
        .countdown .row{
            width: 60vw;
        }
        .countdown div{
            font-size: 12px;
            line-height: 12px;
        }
        .countdown span{
            font-size: 26px;
            line-height: 25px;
        }
    }
</style>