<template>
    <div class="underconstruction my-auto">
        <v-img class="fondoimg" src="@/assets/Vector 1.svg"></v-img>
        <v-img class="fondoimg" src="@/assets/Vector 2.svg"></v-img>
        <v-card color="transparent" class="d-flex align-center" flat width="100%" min-height="100vh">
            <v-card color="#F4E1E1" flat class="mx-auto container--card">
                <v-card-title class="mx-auto titleHoussit">
                    <v-img src="@/assets/HOUSSIT.svg"></v-img>
                </v-card-title>
                <v-card-text class="texthoussit">
                    <h4>Solo faltan:</h4>
                    <Countdown/>
                    <p>Algo arriesgado está cocinandose, <br>este {{fechlaunching.day}} de {{fechlaunching.month}} del 2020 lo sabrás.</p>
                </v-card-text>
                <div class="Ellipse">
                    <img src="@/assets/Ellipse 4.svg"/>
                </div>
                <div class="Rectangle">
                    <v-img class="img-r" src="@/assets/Rectangle 2.svg"></v-img>
                </div>
               <v-card class="setImg" color="transparent" flat width="100%" height="100">
                    <v-row style="margin:auto;width:100%;height: 100%;">
                        <v-col class="Illustrations">
                            <img src="../../assets/moshing.svg" alt="">
                        </v-col>
                        <v-col class="Illustrations">
                            <img src="../../assets/strolling.svg" alt="">
                        </v-col>
                        <v-col class="Illustrations">
                            <img src="../../assets/zombieing.svg" alt="">
                        </v-col>
                    </v-row>
               </v-card>
            </v-card >
        </v-card>
        <v-btn class="icon--twitter black--text" href="https://twitter.com/Houssit2" color="transparent" dark small >
            Rastreanos por aquí <v-icon>mdi-twitter</v-icon>
        </v-btn>
    </div>
</template>
<script>
import Countdown from '@/components/OffLineComponents/CountdownComponents.vue'

export default {
    name:'PresentationCardComponents',
    components:{
        Countdown
    },
    data: () => ({
         fechlaunching:{
            day:23,
            monthNumber:3,
            month:"",
            year:2020,
            hour:8,
            AMPM:"Am"                    
        }       
    }),
    mounted() { 
        this.monthOfYear()
    },
    methods: {
        monthOfYear(){
           let month = ["Enero",
                     "Febrero",
                     "Marzo",
                     "Abril",
                     "Mayo",
                     "Junio",
                     "Julio",
                     "Agosto",
                     "Septiembre",
                     "Octubre",
                     "Noviembre",
                     "Diciembre"]
                switch(this.fechlaunching.monthNumber){
                    case 1:  this.fechlaunching.month = month[this.fechlaunching.monthNumber -1 ]
                    case 2:  this.fechlaunching.month = month[this.fechlaunching.monthNumber -1 ]
                    case 3:  this.fechlaunching.month = month[this.fechlaunching.monthNumber -1 ]
                    case 4:  this.fechlaunching.month = month[this.fechlaunching.monthNumber -1 ]
                    case 5:  this.fechlaunching.month = month[this.fechlaunching.monthNumber -1 ]
                    case 6:  this.fechlaunching.month = month[this.fechlaunching.monthNumber -1 ]
                    case 7:  this.fechlaunching.month = month[this.fechlaunching.monthNumber -1 ]
                    case 8:  this.fechlaunching.month = month[this.fechlaunching.monthNumber -1 ]
                    case 9:  this.fechlaunching.month = month[this.fechlaunching.monthNumber -1 ]
                    case 10:  this.fechlaunching.month = month[this.fechlaunching.monthNumber -1 ]
                    case 11:  this.fechlaunching.month = month[this.fechlaunching.monthNumber -1 ]
                    case 12:  this.fechlaunching.month = month[this.fechlaunching.monthNumber -1 ]
                }
        },
    },
}

</script>
<style scoped>
    .icon--twitter{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .v-speed-dial {
        position: absolute;
    }
    .v-btn--floating {
        position: relative;
    }
    .underconstruction{
        background: #FDEAE2;
        width: 100%;
        height: 100vh;
        position: absolute;
    }
    .setImg{
        position:absolute;
        bottom: -13px;
        height:220px;
        width:100%;
    }
    .container--card{
        width:75%;
        height:78vh;
        border: 8px solid #2C2C2C !important;
        border-radius: 40px !important;
    }
    .fondoimg{
        width: 100%;
        height: 100vh;
        position: absolute;
    }
    .titleHoussit{
        margin-top:22px;
        width: 9.06vw;
        height: 4vw;
        padding: 16.12px 16px;
    }
    .texthoussit{
        width: 50%;
        height: 261px;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 22%;
        transform: translate(-50%, 0px);
    }
    .texthoussit h4{
        font-family: Cooper BT;
        font-style: normal;
        font-weight: bold;
        font-size: 1.25vw;
        line-height: 22px;
        /* identical to box height */
        text-align: center;
        color: #2C2C2C;
    }
    .texthoussit p{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25vw;
        line-height: 150%;
        /* or 27px */
        text-align: center;
        color: #2C2C2C;
    }
    .Ellipse{
        position: absolute;
        width: 35%;
        height: 35%;
        left: 6%;
        top: 49%;
    }
    .Ellipse img{
        width: 100%;
        height: 100%;
    }
    .Rectangle{
        position: absolute;
        height: 80%;
        right: 0px;
        bottom: 0px;
    }
    .Rectangle .img-r{
        border-radius: 0px 0px 40px 0px;
        max-width: 100%;
        width: 600px;
        height: 100%;
        float: right;
    }
    .Illustrations{
        position: relative;
        width: 316.67px;
        height: 100%;
    }
    .Illustrations img{
        width: 100%;
        height: 100%;
    }
    /** Media */
    @media screen and (max-width: 1904px) {
       .Rectangle .img-r{
            width: 22vw;
        }
    }
    @media screen and (max-width: 1264px) {
        
    }
    @media screen and (max-width: 950px) {
        
    }
    @media screen and (max-width: 660px) {
        .container--card{
            border-radius: 0px;
            border: 2px solid #2C2C2C !important;
            border-radius: 10px !important;
            height: 60vh;
        }
        .texthoussit{
            width: 100%;
            position: relative;
            top: 5%;
        }
        .texthoussit h4, .texthoussit p{
            font-size: 1.8vw;
        }
        .Rectangle{
            width: 31vw;
            height: 45%;
        }
        .Rectangle .img-r{
            border-radius: 0px 0px 10px 0px;
            width: 50vw;
            height: 100%;
        }
        .titleHoussit{
            margin-top: 0px;
            width: 102px;
        }
        .setImg{
            height:120px;
        }
        @media screen and (max-width: 460px) {
            .container--card{
                height: 55vh;
            }
            .texthoussit h4, .texthoussit p {
                font-size: 2.6vw;
            }
        }
    }
</style>