<template>
    <div>
        <v-card
            class="mx-auto FilterBuyContainer"
            width="1110"
            color="transparent"
            flat
        >
            <v-row class="ma-0">
                <v-col md="9" class="px-4 py-1">
                    <v-row class="ma-0" justify="space-between">
                        <v-chip close label text-color="black" outlined class="" left="10">
                            <v-icon left>mdi-map-marker</v-icon>
                            Montería, Córdoba
                        </v-chip>
                        <v-chip close label text-color="black" outlined class="" left>
                            <v-icon left>mdi-home</v-icon>
                            Apartamento
                        </v-chip>
                        <v-chip close label text-color="black" outlined class="" left>
                            <v-icon left>mdi-bed-empty</v-icon>
                            <span class="mr-1">3</span>Habitaciones
                        </v-chip>
                        <v-chip close label text-color="black" outlined class="" left>
                            <v-icon left>mdi-currency-usd</v-icon>
                            200 - 500 millones
                        </v-chip>
                    </v-row>
                </v-col>
                <v-col md="3" class="px-4 py-1">
                    <v-switch class="ma-0 pa-0 float-right" v-model="switch2" inset label="Ver mapa"></v-switch>
                </v-col>
            </v-row>
        </v-card>
        <v-divider class="mt-6"></v-divider>
        <v-container max-width="1110" class="pt-6" style="position: relative;z-index: 2;" >
            <v-row>
                <v-col md="12" class="py-0">
                    <v-list-item class="px-0">
                        <v-list-item-avatar>
                            <v-img width="36px" src="@/assets/imgBuy/Duotone.svg"></v-img>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title class="Paragraph" style="color:#6E6E6E !important; white-space: inherit;">
                                Mas de 50 personas han comprado apartamento a través de Houssit. Y nos han calificado como la plataforma No. 1
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <p class="mb-6 LargeBold">34 propiedades que te podrían interesar</p>
                </v-col>
            </v-row>
            <v-row >
                <v-col md="4" class="pt-0 pb-9" v-for="i in 6" :key="i">
                    <v-card color="transparent" flat>
                    <v-item-group multiple>
                        <v-item v-slot:default="{ active, toggle }">
                            <v-img 
                            height="150" src="../../assets/imgBuy/Apartamento.svg" 
                            class="pa-2"
                            >
                                <v-btn
                                icon
                                dark
                                class="float-right"
                                @click="toggle"
                                >
                                    <v-icon>
                                        {{ active ? 'mdi-heart' : 'mdi-heart-outline' }}
                                    </v-icon>
                                </v-btn>
                            </v-img>
                        </v-item>
                    </v-item-group>
                        <v-card-title class="px-0 Link">
                            <v-chip label color="primary" class="mr-1" >plus</v-chip>
                            Bonita casa en el sector de La Castellana
                        </v-card-title>
                        <v-card-subtitle class="pa-0 Small" style="color:#6E6E6E !important;">3 habitaciones · 3 baños · garaje · 200m2</v-card-subtitle>
                        <v-card-text class="Link px-0">$390.000.000</v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col cols="12" md="6">
                    <v-container class="max-width">
                        <v-pagination
                        v-model="page"
                        class="my-1"
                        :length="10"
                        ></v-pagination>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script>
export default {
    name:'FilterComponent',
    data(){
        return{
            switch2: false,
            page:1,
            datos:[
                {
                    name:"",
                    despction:[
                        {
                            name:"bath",
                            color:"",
                        },
                        {   
                            name:"room",
                            color:"",
                        },
                    ],
                    price:390000000,

                },
                {

                },
            ],
        }
    },
    props: {
        //recibir variables
    },
    computed: {
       
    },
}
</script>
<style scoped>
    .container{
        max-width: 1110px;
    }
    .FilterBuyContainer{
        margin-top: 65px;
    }
    .Link{
        font-family: Inter;
        font-style: normal;
        font-weight: 600 !important;
        font-size: 14px !important;
        line-height: 17px !important;
        color:black !important;
        word-break: break-word;
        flex-wrap: inherit;
    }
    
    
</style>