<template>
    <div style="min-height:calc(1062px - 65px)">
        <NavBarHoussit/>
        <FilterComponent/>
        <div class="rectangle2">
            <v-img src="@/assets/imgBuy/Rectangle 2.svg"></v-img>
        </div>
        <div class="rectangles3">
            <v-img src="@/assets/imgBuy/Rectangle 3.svg"></v-img>
        </div>
    </div>
</template>
<script>
import FilterComponent from '../components/Buy/FilterComponent.vue'
import NavBarHoussit from '../components/NavBarHoussit.vue'

export default {
    name:'buy',
    components:{
        FilterComponent,
        NavBarHoussit
    }
}
</script>
<style>
    .rectangle2{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .rectangles3{
        position: absolute;
        bottom: 0px;
        top: 46px;
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (max-width: 960px) {
        .rectangles3{
            top: 161px;
        }
    }
    @media screen and (max-width: 859px) {
        
    }
    @media screen and (max-width: 770px) {
        
    }
    @media screen and (max-width: 660px) {
        
    }
    @media screen and (max-width: 599px) {
        .rectangles3 {
            top: 200px;
        }
    }
    @media screen and (max-width: 460px) {
        
    }
</style>