<template>
  <v-container fluid class="Home pa-0">
    <v-card>
    <div class="Rectangle4 d-none d-md-flex">
      <v-img height="25vh" src="@/assets/imgHome/Rectangle 4.svg"></v-img>
    </div>
    <div class="Rectangle2 d-none d-md-flex">
      <v-img width="100%" src="@/assets/imgHome/Rectangle 2.png"></v-img>
    </div>
    <v-row class="ma-0" style="background-color:#fff;">
      <v-col class="First" cols="12">
        <NavBarHoussit />
        <v-container fluid class="mx-auto">
          <v-row class="ma-0" style="position: absolute;left: 0;z-index: 5;right: 0;">
            <v-col cols="12">
              <p class="Heading1 text-center" >La nueva forma de vender</p>
              <p class="Large text-center">Sin comisionistas, sin inmobiliarias. Solo con expertos inmobiliarios</p>
            </v-col>
            <v-col cols="12" class="text-center">
              <v-btn tile class="white--text text-capitalize freeInf" color="#824384">Informate Gratis</v-btn>
            </v-col>
          </v-row>
          <div class="undraw_suburbs_8b83">
            <v-img width="100%" src="../assets/imgHome/Illustrations.svg"></v-img>
          </div>
        </v-container>
      </v-col>
      <v-col class="second" cols="12">
        <v-card
          class="mx-auto secondCard"
          color="transparent"
          flat
        >
          <v-card-title class="Heading2">
            <p class="text-center mx-auto">En houssit lo hacemos diferente </p>
          </v-card-title>
          <v-card-subtitle class="Large">
            <p class="pb-md-8 pb-sm-4">Ahórrate las comisiones al vender tu Inmueble.</p>
          </v-card-subtitle>
          <v-card-text>
            <v-row class="cardLine" v-for="(item, index) in steps" :key="index">
              <v-col cols="12" sm="7" lg="7" class="d-flex align-center py-0">
                <v-row>
                  <v-col cols="2" class="text-center py-0 px-0">
                    <div class="lineSteps align-center"><p class="text-center">{{index+1}}</p></div>
                    <div v-if="(index+1)!=5" class="line"></div>
                  </v-col>
                  <v-col cols="10" class="text--container py-0">
                    <h4>{{item.title}}</h4>
                    <p>{{item.description}}</p>
                    <v-btn tile icon class="text-capitalize" color >Más información <v-icon>mdi-arrow-right</v-icon></v-btn>
                  </v-col>
                  <v-spacer></v-spacer>
                </v-row>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" sm="5" lg="5" class="py-0 d-flex align-center">
                <v-img style="max-width: 100%;" class="mx-auto vimgSteps" :src="require('../assets/imgHome/'+item.imgUrl)"></v-img>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col class="third" cols="12">
        <v-card
          class="mx-auto thirdcard"
          color="transparent"
          flat
        >
          <v-card-title class="Heading2">
            <p class="text-center mx-auto">No pagues altas comisiones por ventas </p>
          </v-card-title>
          <v-card-subtitle class="Large">
            <p class="pb-md-8 pb-sm-4">Ahorra dinero evitando para comisiones a personas por conseguirte clientes.</p>
          </v-card-subtitle>
          <v-card-text>
            <v-row align="center" class="thirdexplanation">
              <v-col cols="12" sm="5" class="px-0">
                <h4 class="Heading4 text-center pb-md-6 pb-sm-4">Lorem ipsum dolor lorem ipsum dolors</h4>
                <p class="Paragraph text-justify black--text">Por ejemplo, si un inmueble vale 300 millones de pesos, tiene una comisión de 9 millones de pesos. Con Houssit sólo pagas desde 600 mil pesos en el plan básico y te ahorras 8,4 millones!.</p>
                <v-btn tile icon class="micro" color >Conoce como <v-icon class="micro" style="font-size: 15px !important;">mdi-arrow-right</v-icon></v-btn>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" sm="6" class="px-0">
                <v-img style="max-width: 354px;" class="mx-auto" src="../assets/imgHome/Group 20.svg"></v-img>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="px-0 py-0">
                <v-card
                  class="mx-auto PddX--H"
                  color="#f4e1e1"
                  flat
                  height="297px"
                  width="100%"
                >
                  <v-row class="mx-sm-1 px-sm-10 mx-md-9 px-md-10" align="center" justify="center" style="height:100%;">
                    <v-col cols="12" sm="7" style="height:167px" class="px-0 py-0">
                      <v-row>
                        <v-col cols="12" >
                          <div class="commissionSet">
                            <h4 class="Heading3">Quieres vender tu inmueble sin pagar comisiones?</h4>
                          </div>
                        </v-col>
                        <v-col cols="12" class="pt-7 pb-0" align-self="end">
                          <v-btn color="#824384" class="white--text" height="41">ver planes</v-btn>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="12" sm="5" style="height:167px" class="px-0 py-0">
                      <v-row class="text-center">
                        <v-col cols="6" class="py-0">
                          <div class="commissionSet">
                          <p class="Paragraph mb-2">Precio de venta</p>
                          <h4 class="Heading4">${{ number_format(saleprice)}}</h4>
                          <v-slider 
                            color="#824384"
                            track-color="#ffffff"
                            v-model="saleprice"
                            step="1000000"
                            :min="min"
                            :max="max"
                          ></v-slider>
                          </div>
                        </v-col>
                        <v-col cols="6" class="py-0">
                          <div class="commissionSet">
                            <p class="Paragraph mb-2">Comisión</p>
                            <h4 class="Heading4">{{commission}}%</h4>
                            <v-slider
                              color="#824384"
                              track-color="#ffffff"
                              v-model="commission"
                              step="0.1"
                              min="1"
                              max="5"
                            ></v-slider>
                          </div>
                          <div class="Rectangle15">
                            <v-img  src="../assets/imgHome/Rectangle15.svg"></v-img>
                          </div>
                        </v-col>
                      </v-row>
                      <v-row class="text-center">
                        <v-col cols="12" class="px-0 py-0">
                          <div class="commissionSet">
                            <p class="Paragraph mb-2">Con houssit te ahorras</p>
                            <h4 class="Heading4">${{saving}}</h4><!--$1.000.000-->
                          </div>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col class="fourth" cols="12">
        <v-card
          class="mx-auto fourthcard"
          color="transparent"
          flat
        >
          <v-card-title class="Heading2">
            <p class="text-center mx-auto">Planes</p>
          </v-card-title>
          <v-card-subtitle class="Large">
            <p class="pb-md-8 pb-sm-4">Tenemos una gran variedad de servicios para ayudarte a conseguir clientes.</p>
          </v-card-subtitle>
          <v-card-text class="px-0">
            <template>
              <PlansComponents />
            </template>
            <v-row style="margin-top: 118px"> <!--segunda caja de texto-->
              <v-col cols="12" class="px-0 py-0">
                <v-card
                  class="mx-auto PddX--H"
                  color="#f4e1e1" 
                  flat
                  height="406"
                  width="100%"
                >
                  <v-row class="mx-sm-0 px-sm-10 mx-md-9 mx-md-10" align="center" justify="center" style="height:100%;">
                    <v-col cols="12" sm="7" class="px-0 py-0">
                      <v-row>
                        <v-col cols="12">
                          <h4 class="Heading3">Estas buscando la casa de tus sueños...o a lo mejor algo diferente?</h4>
                        </v-col>
                        <v-col cols="12" class="pt-7 pb-0" align-self="end">
                          <v-btn color="#824384" class="white--text" height="41">Explorar</v-btn>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="12" sm="5" class="px-0 py-0">
                      <v-img max-width="320px" class="mx-auto" src="../assets/imgHome/ice-cream1.svg"></v-img>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col class="fifth" cols="12">
        <v-card
          class="mx-auto fifthcard"
          color="transparent"
          flat
        >
          <v-card-title class="Heading2">
            <p class="text-center mx-auto">Explorar inmuebles</p>
          </v-card-title>
          <v-card-subtitle class="Large">
            <p class="pb-md-8 pb-sm-4">Adquiere nuestro servicio y te ayudamos a conseguir clientes.</p>
          </v-card-subtitle>
          <v-card-text>
            <v-row>
              <v-col cols="12" sm="6" md="4" v-for="(item, index) in estate" :key="index">
                <v-card
                  color="transparent"
                  flat
                  class="text-justify"
                >
                  <v-img height="212" :src="require('../assets/imgHome/'+item.url)"></v-img>
                  <h4 class="px-0 LargeBold">{{item.title}}</h4>
                  <v-card-text  class="px-0">
                    <p class="Paragraph">{{item.city}}</p>
                    <p class="Paragraph black--text">3 habitaciones · 3 baños · garaje · 200m2</p>
                    <p class="LargeBold">{{item.price}}</p>
                  </v-card-text>
                  <v-card-actions class="px-0">
                    <v-btn color="#824384" dark class="white--text" height="41">Explorar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
            <v-row style="padding-top: 108px;">
              <v-col cols="12" class="px-0"><p class="Paragraph1 text-uppercase">Contactanos</p></v-col>
              <v-row class="uploadform">
                <v-col cols="12" sm="6" md="5">
                  <h5 class="Heading2 text-justify black--text">Queremos saber de ti</h5>
                  <p class="Paragraph black--text">Puedes escribirnos lo que desees y estaremos contentos de poder responderte en el menor tiempo posible.</p>
                  <p class="Link" sisze="11"><v-icon color="#60D1BC">mdi-phone</v-icon>Si tu prefieres, danos una llamada: <span class="CallPhone">+57 305 451 1112</span></p>
                  <v-img max-width="288" class="mx-auto" src="../assets/imgHome/ballet.svg"></v-img>
                </v-col>
                <v-spacer></v-spacer>
                <v-col cols="12" sm="6" md="6">
                    <v-form 
                      ref="form"
                      v-model="valid"
                      lazy-validation
                    >
                      <v-text-field
                        v-model="name"
                        :counter="10"
                        :rules="nameRules"
                        placeholder="Ej: Pedro Gomez"
                        outlined
                        required
                      ></v-text-field>
                      <v-text-field
                        v-model="email"
                        :rules="emailRules"
                        placeholder="Ej: pedro@ejemplo.com"
                        outlined
                        required
                      ></v-text-field>
                      <v-text-field
                        v-model="phone"
                        :counter="11"
                        :rules="phoneRules"
                        placeholder="Ej: 311 6789809"
                        outlined
                        required
                      ></v-text-field>
                      <v-text-field
                        v-model="city"
                        :rules="cityRules"
                        :counter="10"
                        placeholder="Ej: Montería"
                        outlined
                        required
                      ></v-text-field>
                      <label for=""></label>
                      <v-textarea
                        v-model="tell"
                        :rules="tellRules"
                        :counter="510"
                        placeholder="Buscabas algo? No lo encontraste? Escribe aqui todo lo que desees preguntarnos"
                        outlined
                        required
                      ></v-textarea>
                      <v-btn
                        :disabled="!valid"
                        color="primary"
                        class="mr-4 text-capitalize float-right"
                        @click="validate"
                      >
                        Estoy Interesado
                      </v-btn>
                    </v-form>
                </v-col>    
              </v-row>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <div class="RectangleContact4">
        <v-img src="../assets/imgHome/RectangleContact4.svg"></v-img>
      </div>
      <div class="RectangleContact">
        <v-img src="../assets/imgHome/RectangleContact.svg"></v-img>
      </div>
    </v-row>
    <!--footer-->
    <footerhoussit />
    </v-card>
  </v-container>
</template>

<script>
// @ is an alias to /src
import NavBarHoussit from '../components/NavBarHoussit.vue'
import footerhoussit from '../components/FooterHoussitComponent.vue'
import PlansComponents from '../components/Home/PlansComponents.vue'
export default {
  name: 'home',
  components: {
    NavBarHoussit,
    footerhoussit,
    PlansComponents
  },
  data: () => ({
      //Calculadora
      saleprice:60000000,
      commission:3,
      min:50000000,
      max:500000000,
      //Formulario
      valid: true,
      name:'',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 10) || 'Name must be less than 10 characters',
      ],
      email:'',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      phone:'',
      phoneRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 12) || 'Name must be less than 10 characters',
      ],
      city:'',
      cityRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 10) || 'Name must be less than 10 characters',
      ],
      tell:'',
      tellRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 510) || 'Name must be less than 10 characters',
      ],
      estate:[
        {
          title:"Bonita casa de 3 alcobas en el sector de la Castellana",
          city:"Monteria",
          description:[
            {
              name:"habitaciones",
              measure:"3",
            },
            {
              name:"baños",
              measure:"3",
            },
            {
              name:"garaje",
              measure:"200m2",
            },
          ],
          price:"$390.000.000",
          url:"RectangleInmueble7.svg",
          
        },
        {
          title:"Apartamento para estrenas con 4 alcobas en lujoso sector",
          city:"Monteria",
          description:[
            {
              name:"habitaciones",
              measure:"3",
            },
            {
              name:"baños",
              measure:"3",
            },
            {
              name:"garaje",
              measure:"200m2",
            },
          ],
          price:"$390.000.000",
          url:"RectangleInmueble8.svg",
          
        },
        {
          title:"Bonita casa de 3 alcobas en el sector de la Castellana",
          city:"Bogota",
          description:[
            {
              name:"habitaciones",
              measure:"3",
            },
            {
              name:"baños",
              measure:"3",
            },
            {
              name:"garaje",
              measure:"200m2",
            },
          ],
          price:"$390.000.000",
          url:"RectangleInmueble9.svg",
          
        }
      ],
      steps:[
        {
          title:"Avalúo gratis",
          description:"Ex anim ut eu ut. Minim irure dolore nulla veniam pariatur tempor laborum cillum. Nulla anim cupidatat magna reprehenderit.",
          imgUrl:"Group 6.svg",
        },
        {
          title:"Fotografía profesional",
          description:"Ex anim ut eu ut. Minim irure dolore nulla veniam pariatur tempor laborum cillum. Nulla anim cupidatat magna reprehenderit.",
          imgUrl:"Group 6.svg",
        },
        {
          title:"Redacción Comercial con estructura",
          description:"Ex anim ut eu ut. Minim irure dolore nulla veniam pariatur tempor laborum cillum. Nulla anim cupidatat magna reprehenderit.",
          imgUrl:"Group 7.svg",
        },
        {
          title:"Publicación en Internet",
          description:"Ex anim ut eu ut. Minim irure dolore nulla veniam pariatur tempor laborum cillum. Nulla anim cupidatat magna reprehenderit.",
          imgUrl:"Group 8.svg",
        },
        {
          title:"Aviso de ventana",
          description:"Ex anim ut eu ut. Minim irure dolore nulla veniam pariatur tempor laborum cillum. Nulla anim cupidatat magna reprehenderit.",
          imgUrl:"Group 9.svg",
        }
      ],
    }),
    methods: {
      validate () {
        if (this.$refs.form.validate()) {
          this.snackbar = true
        }
      },
      number_format(amount, decimals) {
        amount += ''; // por si pasan un numero en vez de un string
        amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto

        decimals = decimals || 0; // por si la variable no fue fue pasada
            // si no es un numero o es igual a cero retorno el mismo cero
        if (isNaN(amount) || amount === 0) 
            return parseFloat(0).toFixed(decimals);
            // si es mayor o menor que cero retorno el valor formateado como numero
        amount = '' + amount.toFixed(decimals);
        var amount_parts = amount.split('.'),
            regexp = /(\d+)(\d{3})/;

        while (regexp.test(amount_parts[0]))
            amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2');

        return amount_parts.join('.');
      },
    },
    computed: {
      saving(){
        let total=0;
        total = (this.saleprice * (this.commission / 100)) - 600000;
        return this.number_format(total);
      }
    },
}
</script>
<style>
  .First{
    min-height: 1006px;
    background: #F4E1E1;
  }
  .First .container{
    margin-top: 187px;
    width: 1110px;
    position: static;
  }
  .Rectangle4{
    width: 34.24vw;
    position: absolute;
    left: 18vw;
    top: 0%;
  }
  .Rectangle2{
    position: absolute;
    right: 0px;
    top: 136px;
  }
  .undraw_suburbs_8b83{
    position: absolute;
    max-width: 98%;
    top: 602px;
    left: 1%;
    right: 1%;
  }
  .Heading1{
    font-family: Cooper BT;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 95px;
    /* identical to box height */
    text-align: center;
  }
  .Large{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    text-align: center;
  }
  .LargeBold{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #2C2C2C;
  }
  .Paragraph{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #824384 !important;
  }
  .Paragraph1{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #824384;
  }
  .CallPhone{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #60D1BC;
  }
  .RectangleContact{
    position: absolute;
    bottom:8.8%;
  }
  .RectangleContact4 .v-image{
    width: 575px;
  }
  .RectangleContact4{
    position: absolute;
    bottom:7.7%;
    right: 0px;
  }
  .RectangleContact4 .v-image{
    width: 575px;
  }
  .uploadform{
    position: relative;
    z-index: 3;
  }
  .freeInf{
    padding: 12px 24px !important;
    height: 41px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
  }
  .second{
    min-height:1006px;
    background: #Ffffff;
    margin-bottom: 72px;
  }
  .second .v-card{
    padding-top:15%;
  }
  .second .v-card .v-card__text .cardLine{
    min-height: 300px;
  }
  .Heading2{
    font-family: Cooper BT;
    font-style: normal;
    font-weight: bold !important;
    font-size: 48px !important;
    line-height: 58px !important;
    text-align: center;
  }
  .Heading3{
    font-family: Cooper BT;
    font-style: normal;
    font-weight: bold !important;
    font-size: 32px !important;
    line-height: 39px !important;
    color: #2C2C2C !important;
  }
  .Heading4{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
  }
  .Link{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2C2C2C;
  }
  .micro{
    font-family: Inter;
    font-style: normal;
    font-weight: bold !important;
    font-size: 11px !important;
    line-height: 150% !important;
    letter-spacing: 0.02em !important;
    text-transform: uppercase !important;
    color: #824384 !important;
  }
  .lineSteps{
    width: 64px;
    height: 64px;
    border: 2px #824384 solid;
    border-radius: 50px;
    margin: auto;
    vertical-align: middle;
    color: #824384;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Cooper BT;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
  }
  .lineSteps p{
    margin:0px !important;
    padding: 7px;
    height: 100%;
  }
  .line{
    width: 1px;
    height: calc(100% + 89px);
    background: #824384;
    margin: auto;
  }
  .text--container h4{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #2C2C2C;
    margin: 0px 0px 16px
  }
  .text--container p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #2C2C2C;
    margin: 0px 0px 16px
  }
  .text--container .v-btn{
    font-family: Inter;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    align-items: center !important;
    color: #824384 !important;
  }
  .Rectangle15{
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .commissionSet{
    position: relative;
    z-index: 2;
  }
  /*Componrnte de veutify*/
  .v-messages{
    display: none;
  }
  /*---------------------*/
  .third{
    min-height:1006px;
    background: #Ffffff;
    margin-bottom: 72px;
  }
  .thirdexplanation{
    max-height:602px;
    margin-bottom: 118px;
  }
  .fourth{
    min-height:1006px;
    background: #Ffffff;
    margin-bottom: 72px;
  }
  .fifth{
    min-height:1006px;
    background: #Ffffff;
    margin-bottom: 128px;
  }
  .text--container .v-btn .v-icon{
    font-size: 21px !important;
  }
  .second .secondCard , .third .thirdcard, .fourth .fourthcard, .fifth .fifthcard{
    max-width: 1009px;
  }
  /* media query*/
  @media screen and (max-width: 1904px) {
  }
  @media screen and (max-width: 1340px) {
    .Rectangle4{
      left: 16vw;
    }
  }
  @media screen and (max-width: 1264px) {
    .Rectangle4{
      left: 15vw;
    }
  }

   @media screen and (max-width: 1024px) {
    .Rectangle4{
      left: 12vw;
    }
    .second .v-card{
      padding-top:1%;
    }
    .undraw_suburbs_8b83{
      /*top: 375px;*/
    }
    .Rectangle2 {
      width: 22%;
    }
    .Heading1{
      font-size: 57px;
      line-height: 95px;
    }
    .Heading2{
      font-size: 40.7px !important;
    }
    .Heading4{
      font-size: 18px !important;
    }
    .Heading3{
      font-size: 26px !important;
    }
    .Paragraph{
      font-size: 12px !important;
    }
    .micro{
      font-size: 10px !important;
    }
    .Link{
      font-size: 11px;
    }
    .CallPhone{
      font-size: 13px;
    }
    .itemMenu{
      font-size: 12px;
    }
    .LargeBold{
      font-size: 16px;
    }
    .text--container h4{
      font-size: 18px;
    }
    .text--container p{
      font-size: 12px;
    }
    .text--container .v-btn{
      font-size: 12px !important;
    }
    .second .v-card .v-card__text .cardLine {
      min-height: 285px;
    }
    .lineSteps{
      width: 54px;
      height: 54px;
      font-size: 27px;
    }
    .lineSteps p{
      padding: 2px;
    }
    .line{
      height: calc(100% + 100px);
    }
    .second .secondCard , .third .thirdcard, .fourth .fourthcard, .fifth .fifthcard{
      max-width: 850px;
    }
    .RectangleContact4{
      bottom:9.7%;
    }
    .RectangleContact4 .v-image{
      width: 408px;
    }
    .RectangleContact{
      bottom:10.2%;
    }
    .RectangleContact .v-image{
      width: 124px;
    }
    .text--container .v-btn .v-icon{
      font-size: 18px !important;
    }
  }
  @media screen and (max-width: 960px) {
    .undraw_suburbs_8b83{
      top: 450px;
    }
    .line {
      height: calc(100% + 98px);
    }
    .second .v-card{
      padding-top:0%;
    }
    .Heading1 {
      font-size: 44px;
      line-height: 69px;
    }
    .Large{
      font-size: 12px !important;
    }
    /**
    .Heading2 p{
      padding-bottom: 0px !important;
    } */
    .text--container h4 {
      font-size: 16px;
    }
    .First{
      max-height: 880px;
      min-height: 770px;
    }
    .Heading2 {
      font-size: 32px !important;
      line-height: 42px !important;
    }
    .micro {
      font-size: 9px !important;
    }
    .LargeBold {
      font-size: 14px;
      color:#000000;
    }
    .Heading3 {
      font-size: 22px !important;
      line-height: 30px !important;
    }
    .Heading4 {
      font-size: 14px !important;
    }
    .RectangleContact4{
      bottom:10.4%;
    }
    .RectangleContact{
      bottom:10.7%;
    }
    .RectangleContact4 .v-image{
      width: 383.4px;
    }
    .text--container .v-btn {
      font-size: 11px !important;
    }
/**/    
    .second .v-card .v-card__text .cardLine {
      min-height: 250px;
    }
/**/
    .lineSteps {
      width: 45px;
      height: 45px;
      font-size: 22px;
    }
    .lineSteps p {
      padding: 0px;
    }
    .line{
      height: calc(100% + 76px);
    }
  }
  @media screen and (max-width: 859px) {
    .line {
      height: calc(100% + 76px);
    }
  }
  @media screen and (max-width: 770px) {
    .undraw_suburbs_8b83{
      top: 460px;
    }
    .First{
      min-height: 779px;
    }
     .RectangleContact4{
      bottom:10.4%; 
    }
    .RectangleContact4 .v-image{
      width: 376.7px;
    }
    .text--container h4 {
      font-size: 14px;
    }
    .line {
      height: calc(100% + 61px);
    }
  }
  @media screen and (max-width: 660px) {
    .PddX--H{
      padding: 15px 30px;
      min-height: 110%;
    }
    .Heading1{
      font-size: 36px;
      line-height: 50px;
    }
    .Heading2{
      font-size: 24px !important;
      line-height: 34px !important;
      word-break: break-word !important;
    }
    .First{
      min-height: 660px;
    }
    .First .container {
      margin-top: 127px;
    }
    .undraw_suburbs_8b83 {
      top: 467px;
    }
    
  }
  @media screen and (max-width: 599px) {
    .vimgSteps{
      max-width: 288px !important;
    }
    .line {
      height: calc(100% + 150px);
    }
  }
  @media screen and (max-width: 460px) {
    .Heading1{
      font-size: 36px;
      line-height: 50px;
    }
    .vimgSteps{
      max-width: 258px !important;
    }
    .line {
      height: calc(100% + 130px);
    }
  }
</style>
