<template>
    <div>
      <div class="mobile d-flex d-xs-flex d-sm-none">
         <v-card
          width="100%"
          color="transparent"
          flat
          class="px-0"
        >
          <v-tabs
            color="primary"
            background-color="basic"
            centered
            grow
            tab
          >
            <v-tab
              v-for="(item, pos) in items"
              :key="pos"
              :href="`#tab-${item}`"
              class="px-0"
            >
              <p class="text-capitalize mb-0">{{item}}</p>
            </v-tab>

            <v-tab-item
              v-for="(item, xPos) in items"
              :key="xPos"
              :value="'tab-'+item"
            >
              <v-row v-for="(id, pos) in plans" :key="pos" >
                <v-col cols="12" class="pt-4 pb-1">
                   <h4 class="Heading3" style="font-size:18px !important;">{{id.title}}</h4>
                  <v-divider v-if="id != 2" ></v-divider>
                </v-col>
                
                <v-col cols="12" class="py-1" v-for="(j,jt) in id.data" :key="jt">
                  <v-row>
                    <v-col cols="9" class="py-0">
                      <v-row>
                        <v-col class="py-0 ">{{j.name}}</v-col>
                      </v-row>
                    </v-col>
                    <v-col v-if="`${item}` == 'Basico'" cols="3" class="py-0 text-center">
                      <h4 v-if="j.basic"><v-icon style="font-size: 18px;" color="Alternative">mdi-check</v-icon></h4>
                      <h4 v-else><v-icon style="font-size: 18px;" color="red">mdi-window-close</v-icon></h4>
                    </v-col>

                    <v-col v-if="`${item}` == 'Premium'" cols="3" class="py-0 text-center">
                      <h4 v-if="j.Premium"><v-icon style="font-size: 18px;" color="Alternative">mdi-check</v-icon></h4>
                      <h4 v-else><v-icon style="font-size: 18px;" color="red">mdi-window-close</v-icon></h4>
                    </v-col>

                    <v-col v-if="`${item}` == 'Protocolo'" cols="3" class="py-0 text-center">
                      <h4 v-if="j.Protocolo"><v-icon style="font-size: 18px;" color="Alternative">mdi-check</v-icon></h4>
                      <h4 v-else><v-icon style="font-size: 18px;" color="red">mdi-window-close</v-icon></h4>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
              <v-row>
                <v-col></v-col>
                <v-col cols="4" class="py-1">
                  <v-btn color="#824384" class="white--text px-8" height="33">Escoger</v-btn>
                </v-col>
              </v-row>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </div>
      <!---->
      <div class="desktop d-none d-sm-flex">
        <v-card
          width="100%"
          color="transparent"
          flat
        >
          <v-row>
            <v-col cols="4">
              <h5 class="LargeBold">Caracteristicas</h5>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="2" class="text-center">
              <h5 class="Large">Básico</h5>
            </v-col>
            <v-col cols="3" class="text-center">
              <h5 class="Large">Premium</h5>
            </v-col>
            <v-col cols="2" class="text-center">
              <h5 class="Large">Protocolo</h5>
            </v-col>
          </v-row>
          <v-card-text class="px-0 py-0" v-for="(item, index) in plans" :key="index">
            <v-card-title class="Link px-0 py-3">{{item.title}}</v-card-title>
            <v-row v-for="(dato, id) in item.data" :key="id">
              <v-col cols="5">
                <v-row>
                  <v-col cols="10" class="py-0"><h5 class="Paragraph black--text">{{dato.name}}</h5></v-col>
                  <v-col cols="1" class="py-0 px-0"><v-icon>mdi-information-outline</v-icon></v-col>
                </v-row>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="2" class="text-center">
                <h4 v-if="dato.basic"><v-icon style="font-size: 18px;" color="Alternative">mdi-check</v-icon></h4>
                <h4 v-else></h4>
              </v-col>
              <v-col cols="3" class="text-center">
                <h4 v-if="dato.Premium"><v-icon style="font-size: 18px;" color="Alternative">mdi-check</v-icon></h4>
                <h4 v-else></h4>
              </v-col>
              <v-col cols="2" class="text-center">
                <h4 v-if="dato.Protocolo"><v-icon style="font-size: 18px;" color="Alternative">mdi-check</v-icon></h4>
                <h4 v-else></h4>
              </v-col>
            </v-row>
            <v-divider v-if="index != 2" style="width:38%;"></v-divider>
          </v-card-text>
          <v-row>
            <v-col cols="4"></v-col>
            <v-spacer></v-spacer>
            <v-col cols="2" class="text-center">
              <v-btn color="#824384" class="white--text px-8" height="33">Escoger</v-btn>
            </v-col>
            <v-col cols="3" class="text-center">
              <v-btn color="#824384" class="white--text px-8" height="33">Escoger</v-btn>
            </v-col>
            <v-col cols="2" class="text-center">
              <v-btn color="#824384" class="white--text px-8" height="33">Escoger</v-btn>
            </v-col>
          </v-row>
        </v-card>
      </div>
    </div>
</template>
<script>
export default {
    name:"PlansComponents",
     data: () => ({
       plans:[
        {
          title:"Servicios",
          data:[
            {
              name:"Visita a la vivienda",
              basic:false,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Valoración de la vivienda",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Reportaje fotográfico y plano",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Redacción de tu anuncio personalizado",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Publicación en portales inmobiliarios",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Tu anuncio en las primeras posiciones",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Acceso a la plataforma HOUSSIT",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:" Experto inmobiliario a tu disposición",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Atendemos tus dudas 12h/7",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Alertas personalizadas via mail y SMS",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Cartel \"SE VENDE\"",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Filtramos a los interesados en tu inmueble",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Asesoría legal",
              basic:true,
              Premium:true,
              Protocolo:true
            },
          ]
        },
        {
          title:"Visitas",
          data:[
            {
              name:"Enseñamos tu casa a los compradores",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Cerramos la venta",
              basic:true,
              Premium:true,
              Protocolo:true
            },
          ]
        },
        {
          title:"Documentos y Contratos",
          data:[
            {
              name:"Estudio del certificado de libertad y tradición",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Validación del crédito hipotecario",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Redaccíón de la promesa de compraventa",
              basic:true,
              Premium:true,
              Protocolo:true
            },
            {
              name:"Acompañamiento legal hasta notaría",
              basic:true,
              Premium:true,
              Protocolo:true
            },
          ]
        },
      ],
      tab: 'null',
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      //quitar
      currentItem: 'tab-Web',
      items: [
        'Basico', 'Premium', 'Protocolo',
      ],
    }),
    methods: {
      
    },
  }
</script>
<style scoped>
  /*aqui */
  .Large{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    text-align: center;
  }
  /**aqui */
  .LargeBold{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #2C2C2C;
  }
  /**aqui */
  .Paragraph{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #824384 !important;
  }
  /*aqui */
  .Link{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2C2C2C;
  }
  /* media query*/

   @media screen and (max-width: 1024px) {
    /**aqui */
    .Paragraph{
      font-size: 12px !important;
    }
    /*aqui */
    .Link{
      font-size: 11px;
    }
    /**aqui */
    .LargeBold{
      font-size: 16px;
    }
  }
  @media screen and (max-width: 960px) {
    /**aqui */
    .Large{
      font-size: 12px !important;
    }
    /**aqui */
    .LargeBold {
      font-size: 14px;
      color:#000000;
    }
  }
  @media screen and (max-width: 859px) {
    
  }
  @media screen and (max-width: 770px) {
    
  }
  @media screen and (max-width: 660px) {
    
  }
  @media screen and (max-width: 460px) {

  }
</style>