<template>
    <v-footer dark padless class="black" tile>
        <v-card
        flat
        tile
        color="black"
        class="white--text mx-auto footerhoussit"
        width="1010"
        min-height="583px"
        >
        <v-row class="mt-12 mx-0">
            <v-col cols="12">
                <v-row>
                    <v-col cols="12" sm="4">
                        <v-card class="mb-8" tile width="140" height="26" color="transparent">
                            <v-img src="../assets/imgHome/HOUSSITwhite.svg"></v-img>
                        </v-card>
                        <p class="small">© 2020 Houssit. Todos los derechos reservados.</p>
                    </v-col>
                    <v-col cols="12" class="d-xs-flex d-sm-none py-0">
                        <v-card
                        width="100%"
                        color="transparent"
                        flat
                        >
                            <v-expansion-panels accordion flat tile focusable>
                                <v-expansion-panel
                                    v-for="(item,i) in col"
                                    :key="i"
                                    flat
                                >
                                    <v-expansion-panel-header class="colorblack">{{item.name}}</v-expansion-panel-header>
                                    <v-expansion-panel-content class="colorblack">
                                        <div v-for="(dato, index) in item.action" :key="index">
                                            <a :href="dato.url" class="white--text" style="text-decoration: none;" v-if="dato.name!='Redes'">
                                                <p class="small">{{dato.name}}</p>
                                            </a>
                                            <v-row v-else class="px-2 pt-2">
                                                <v-col cols="3" md="2" class="pa-0" v-for="(redes, i) in dato.redes" :key="i">
                                                    <v-btn icon><v-icon>{{redes.name}}</v-icon></v-btn>
                                                </v-col>
                                            </v-row>
                                        </div>   
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-expansion-panels>
                        </v-card>
                    </v-col>
                    <v-col class="d-none d-sm-flex" v-for="(item, j) in col" :key="j">
                        <v-card
                        width="100%"
                        color="transparent"
                        flat
                        >
                            <h4 class="large mb-12">{{item.name}}</h4>
                            <div v-for="(dato, index) in item.action" :key="index">
                                <a :href="dato.url" class="white--text" style="text-decoration: none;" v-if="dato.name!='Redes'">
                                    <p class="small">{{dato.name}}</p>
                                </a>
                                <v-row v-else class="px-2 pt-12">
                                    <v-col cols="3" md="2" class="pa-0" v-for="(redes, i) in dato.redes" :key="i">
                                        <v-btn icon><v-icon>{{redes.name}}</v-icon></v-btn>
                                    </v-col>
                                </v-row>
                            </div>             
                        </v-card>
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="12" class="pt-0 pb-3">
                <v-divider color="white" class="my-10"></v-divider>
                <v-card class="mx-auto" tile width="88" height="34" color="transparent">
                    <v-img src="../assets/imgHome/IconFooter.svg"></v-img>
                </v-card>
            </v-col>
        </v-row>
        </v-card>
    </v-footer>
    <!--{{ new Date().getFullYear() }} — <strong>Vuetify</strong>-->
</template>
<script>
    export default {
        name:"footerhoussit",
        data() {
            return {
                col:[
                    {
                        name:"De interés",
                        action:[
                            {
                                name:"Como funciona",
                                url:"#",
                            },{
                                name:"Blog",
                                url:"#",
                            },{
                                name:"Avaluos",
                                url:"#",
                            },{
                                name:"Preguntas frecuentes",
                                url:"#",
                            },{
                                name:"Comprar",
                                url:"#",
                            },{
                                name:"Vende tu inmueble",
                                url:"#",
                            },{
                                name:"Planes",
                                url:"#",
                            }
                        ]
                    },
                    {
                        name:"Nosotros",
                        action:[
                            {
                                name:"Nuestra historia",
                                url:"#",
                            },{
                                name:"Trabaja con nosotros",
                                url:"#",
                            },{
                                name:"Recomiendanos",
                                url:"#",
                            },{
                                name:"Pólitica de privacidad",
                                url:"#",
                            },{
                                name:"Terminos y condiciones",
                                url:"#",
                            },
                        ]
                    },
                    {
                        name:"Contacto",
                        action:[
                            {
                                name:"Lunes - Viernes de 8a.m. a 6p.m.",
                                url:"#",
                            },{
                                name:"Sabado - Domingo de 8a.m. a 12a.m.",
                                url:"#",
                            },{
                                name:"hello@houssit.com",
                                url:"#",
                            },{
                                name:"+57 305 451 1112",
                                url:"#",
                            },{
                                name:"Redes",
                                redes:[
                                    {
                                        name:"mdi-facebook",
                                        url:"#",
                                    },
                                    {
                                        name:"mdi-twitter",
                                        url:"#",
                                    },
                                    {
                                        name:"mdi-instagram",
                                        url:"#",
                                    },
                                    {
                                        name:"mdi-linkedin",
                                        url:"#",
                                    }
                                ]
                            }
                        ]
                    },
                ],

            }
        },
    }
</script>
<style scoped>
    .small{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
    }
    .large{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        text-align: justify;
    }
    .footerhoussit{
        max-width:1010px;
    }
    .colorblack{
        background-color: black;
    }
    @media screen and (max-width: 1024px) {
        .footerhoussit{
            max-width:900px;
        }
    }
</style>