<template>
    <div>
    <v-app-bar absolute app short color="transparent" width="1110" height="65"
       class="mx-auto py-0" flat dark>
       <template style="width:100%;">
          <v-toolbar-title class="pa-0" width="100%">
            <v-btn text href="/" class="pa-0">
              <v-img
                src="@/assets/HOUSSIT.svg"
                alt="icono"
                width="170px"
                max-width="90px"
              >
              </v-img>
            </v-btn>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <div class="d-flex d-sm-flex d-md-none">
            <v-app-bar-nav-icon color="black" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <!--menu-->
          </div>
          <div class="itemMenu d-none d-md-flex">
            <v-btn small class="black--text text-sm-left text-for-nav" href="/buy" text>Comprar</v-btn>
            <v-btn small class="black--text text-sm-left text-for-nav" href="/sale" text >Vender</v-btn>
            <v-btn small class="black--text text-sm-left text-for-nav" href="/value" text>Avalúos</v-btn>
            <!--<v-btn small class="black--text text-sm-left text-for-nav" href="/about" text>Nosotros</v-btn>-->
            <v-btn small class="white--text text-sm-left text-for-nav" id="callnow" href="#" text>Llamar ahora</v-btn>
          </div>
       </template>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" fixed temporary right class="d-flex d-sm-flex d-md-none">
      <v-list flat>
        <v-list-item>
          <v-list-item-avatar>
            <v-icon x-large>mdi-account-circle</v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="font-weight-bold">Bienvenido</v-list-item-title>
            <p class="text-left my-0 caption font-weight-light">Ingresa y conozca nuestros productos</p>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list flat dense>
        <v-list-item-group v-model="group" active-class="deep-purple--text text--accent-4">
          <v-list-item href="/">
            <v-list-item-avatar size="22">
              <v-icon>mdi-home</v-icon>
            </v-list-item-avatar>
            <v-list-item-title class="">Inicio</v-list-item-title>
          </v-list-item>
          <v-list-item href="/buy">
            <v-list-item-avatar size="22">
              <v-icon>mdi-weight</v-icon>
            </v-list-item-avatar>
            <v-list-item-title class="">Comprar</v-list-item-title>
          </v-list-item>
          <v-list-item href="/sale">
            <v-list-item-avatar size="22">
              <v-icon>mdi-tag</v-icon>
            </v-list-item-avatar>
            <v-list-item-title class="">Vender</v-list-item-title>
          </v-list-item>
          <v-list-item href="/value">
            <v-list-item-avatar size="22">
              <v-icon>mdi-home-modern</v-icon>
            </v-list-item-avatar>
            <v-list-item-title class="">Avalúos</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-avatar size="22">
              <v-icon>mdi-account-multiple</v-icon>
            </v-list-item-avatar>
            <v-list-item-title class="">Nosotros</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-avatar size="22">
              <v-icon>mdi-phone</v-icon>
            </v-list-item-avatar>
            <v-list-item-title class="">Llamar ahora</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>
<script>
export default {
    name:'NavBarHoussit',
    data: () => ({
        drawer:false,
        group: null,
    }),
    watch: {
      group () {
        this.drawer = false
      },
    },
}
</script>
<style scoped>
.text-for-nav{
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}
#callnow{
  background: #824384;
  border-radius: 4px;
}
.itemMenu .v-btn{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.v-toolbar__content{
  width: 100% !important;
}

</style>