<template>
    <div>
        <PresentationCard/>
    </div>
</template>
<script>
import PresentationCard from '../components/OffLineComponents/PresentationCardComponents'
export default {
    name:"Offline",
    components:{
        PresentationCard
    }
}
</script>