<template>
  <v-app>
      <v-content v-if="nav" style="padding:0px">
        <router-view />
      </v-content>
      <v-content v-else >
        <offline/>
      </v-content>
      
  </v-app>
</template>

<script>
import offline from '@/components/Offline.vue'

export default {
  name: 'App',
  components: {
    offline,
  },

  data: () => ({
    //
    nav: false
  }),
};
</script>
<style scoped>

  .v-card>:last-child:not(.v-btn):not(.v-chip){
        border-bottom-left-radius: unset !important;
        border-bottom-right-radius: unset !important;
  }
</style>